{{> head }}
    <div id="contentParent" class="container" style="margin-top:195px; margin-left:15%; position:absolute">
        <div id="chat-column-holder" class="row">
            <div id="boxchat" class="col-6 col-md-4" style="float: right; position: absolute; z-index: 9; top: -1px; left: 0px;">
                <div id="headerboxchat" class="card" style="cursor:move; z-index:10">
                    <div id="accordion" class="card-header">
                        <span class="fas fa-tint" style="color:black"></span> ChatBot Mizu
                        <div class="btn-group pull-right" style="float: right;">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                <span class="fas fa-chevron-down" style="color:black"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-collapse collapse show" id="collapseOne">
                        <div class="card-body" style="overflow-y: hidden; height: 350px;">
                            <div id="scrollingChat"></div>
                            <label for="textInput" class="inputOutline">
           <input id="textInput" class="input responsive-column" placeholder="Escribe tu texto aquí" type="text" onkeydown="ConversationPanel.inputKeyDown(event, this)">
         </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="payload-column" class="fixed-column content-column" style="float: right">
        <div id="payload-initial-message">
            Escribe algo aquí
        </div>
        <div id="payload-request" class="payload"></div>
        <div id="payload-response" class="payload"></div>
    </div>
    <div id="logo" style="float:left; margin-top:3%; margin-left:4%"><img src="https://bit.ly/2Lroe2n" style="width:350px"></div>
{{> footer }}